body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.form-container {
    width: 180px;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
}

button:hover {
    background-color: #0056b3;
}
